*{
 margin: 0;
  padding-top: 0;
}

header {
  background-color: black;
  display: flex;
   padding-top: 15px;
}

header div { 
  justify-content: space-between;
  width: 80%;
  background-color: black;
display: flex;
margin: auto;
padding-bottom: 15px;
}


.menu {
  display: flex;
  color: white;
  align-items: center;
  list-style: none;
}

.menu li {
  margin-left: 20px;
  
}

.spotify-logo { 
  width: 150px;
}


.Família {
  background-color: rgb(160, 195, 210) ;
  color: black; 
  padding-left: 40px; 
}

.Família div {
  width: 80%;
  margin: auto ;
   }

  .Família h1 {
  padding: 35px 0;
  font-size: 35px;
  }

  .Família h3 {
  padding-bottom: 40px;
  font-size: 17px;
  }

  .Família p {
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
  }
  
  .Família p a {
    color: black;
  }

  #btn-comece-agora {
    background-color: black;
  color: white;
  padding: 13px 25px;
  border-radius: 100px;
  border: 1px solid black
  }

  #btn-ver-planos {
  background-color: rgb(160, 195, 210);
  color: white;
  padding: 13px 25px;
  border: 1px solid white;
  border-radius: 100px;
  }
   


  .Pais-Filhos {
    background-color: rgb(236, 227, 215);
    display: flex;
  }

  .Pais-Filhos div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
     padding-top: 20px;
     padding-left: 20px;
     padding-right: 20px;
  }

  .Pais-Filhos h2 {
    margin-bottom: 10px;
  }
  

.Pais-Filhos-Img div img {
height: 220px
}

.Pais-Filhos-Img {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  }



