main {
  display: flex;
  width: 511px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-left: 5%;
}

.envie-seu-pedido {
  color: var(--orange-8, #E8590C);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Inter;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.div-identificação {
  display: flex;
  width: 511px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.div-logo-identificação {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.div-logo-identificação h4 {
  color: var(--other-black, #000);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
  /* 26.1px */
}

.inputs-identificação {
  display: flex;
  width: 511px;
  align-items: flex-start;
  gap: 16px;
}

.input-name,
.input-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.inputs-identificação label {
  align-self: stretch;
  color: var(--gray-9, #212529);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.inputs-identificação input[type="text"],
.inputs-identificação input[type="email"] {
  color: var(--other-black, #000);
  flex: 1 0 0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  border: 1px solid var(--gray-4, #CED4DA);
  border-radius: 8px;
}

 

